---
import Layout from '../layouts/Layout.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import GithubIcon from '../icons/Github.astro'
import MailIcon from '../icons/Mail.astro'
import Badge from '../components/Badge.astro'
import SocialButton from '../components/SocialButtons.astro'
import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import CaseIcon from '../icons/Case.astro'
import CodeIcon from '../icons/Code.astro'
import Projects from '../components/Projects.astro'
import Sobremi from '../components/Sobremi.astro'
import Contacto from '../components/Contact.astro'
import WspIcon from '../icons/Wsp.astro'
import DescargarIcon from '../icons/Descarga.astro'
---

<Layout 
	title="Portfolio of Nicolas - Desarrollador y Progamador Web" 
	description="Let's collaborate in the construction of solutions for all kinds of problems."	
>
	<main class="px-4">
		<SectionContainer class=" py-44 pb-24">
			<img
			class="rounded-full w-12 h-12 mb-4" 
			src="https://i.ibb.co/0CShq1b/Sin-t-tulo.png" 
			alt="Logo Portfolio"/>
			<h1 class=" text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-5 lg:pb-10">
				Hi, I'm Nicolas <a 
								href="https://www.linkedin.com/in/nicolas-angel-b140b92a6/" 
								target="_blank" 
								rel="noopener" 
								class="flex justify-center items-center"><Badge>Ready to work</Badge>
							</a>
						</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="text-white">Passionate programmer with experience in creating innovative digital solutions.</span>
				<span class=" text-red-200/90"> This space is a showcase for my work:</span><span class="text-yellow-100/90"> from web applications to complex projects,
					you will find here a glimpse of my ability to implement creativity in every line of code.</span>
					<span class="opacity-80 text-white/90	"> Explore my past projects and discover how I can bring value to your digital ideas.</span>
			</h2>
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialButton href="https://www.linkedin.com/in/nicolas-angel-b140b92a6/">
						<LinkedInIcon class="size-3 lg:size-6"/>
						LinkedIn
					</SocialButton>
					<SocialButton href="https://github.com/NicoDevGod">
						<GithubIcon class="size-3 lg:size-6"/>
						Github
					</SocialButton>
					<SocialButton href="https://w.app/JNPqrI">
						<WspIcon class="size-3 lg:size-6"/>
						Whatsapp
					</SocialButton>
					<SocialButton href="https://drive.google.com/file/d/1YmWorhOcKsLlj1D6QsJLBMh-fe20hKp_/view">
						<DescargarIcon class="size-3 lg:size-6"/>
						Download CV
					</SocialButton>	
					<SocialButton target="_top" href="mailto:nicoangel421@gmail.com">
						<MailIcon class="size-3 lg:size-6"/>
						nicoangel421@gmail.com
					</SocialButton>

					
				</nav>
			</ul>
		</SectionContainer>
		<SectionContainer id="experiencia" />
		<SectionContainer>
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CaseIcon class="size-7" />
				Work Experience
			</h2>
			<Experience />	
		</SectionContainer>
		<SectionContainer id="proyects"/>
		<SectionContainer>
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Projects
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="sobre-mi"/>
		<SectionContainer>
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				About Me
			</h2>
			<Sobremi />
		</SectionContainer>
		<SectionContainer id="contacto"/>
		<SectionContainer class="bg-white rounded-lg">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-black">
				<MailIcon class="size-7" />
				Contact
			</h2>
			<div>
				<Contacto />
			</div>
		</SectionContainer>
	</main>
</Layout>
