---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Currently...",
        title: "Developing personal projects.",
        description: "I am currently working on my potential for the development of digital solutions through the role of Front-End.",
    },
    {
        date: "May - December 2023",
        title: "Computer teacher - IP/CFT Santo Tomas, Ovalle.",
        description: "During 2023 I worked as a teacher of some subjects within the computer area of the institute, among which were: Web Programming, Operating Systems and Windows Operating Systems. I also did some assistantships for other subjects such as Object Oriented Programming."
    },
    {
        date: "January - March 2023",
        title: "Internship for Computer Engineering - Universidad Santo Tomas, La Serena.",
        description: "During this period I did my internship and graduation activity within the IT department of the establishment, in which I performed computer support tasks as part of my internship and for my graduation activity I developed a HelpDesk."
    },
    {
        date: "January - March 2021",
        title: "Junior Developer - Hospital de Ovalle.",
        description: "Before studying engineering I worked as a junior programmer at the Hospital de Ovalle where I worked on projects with different programming languages such as: PHP, Visual Basic, ASP.Net."
    },
    {
        date: "June - August 2019",
        title: "Internship for Programmer Analyst",
        description: "First encounter with the programming industry, during my internship I was working as a junior programmer within the company."
    }
]
---
<ol class="relative border-s border-gray-200 ml-3">    
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                    <ExperienceItem {...experience} />
            </li>
        ))
    }              

</ol>

