<header class="flex justify-center items-center py-5 px-2 rounded-full w-full md:w-[500px] mx-auto fixed top-0 my-3 inset-x-0  
z-50 bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">

    <nav class="flex flex-row gap-x-5 opacity-80 text-black">
        <a href="#top">Home</a>
        <a href="#experiencia">Experience</a>
        <a href="#proyects">Projects</a>
        <a href="#sobre-mi">About me</a>
        <a href="#contacto">Contact</a>
    </nav>
</header>