<header class="flex justify-center items-center py-5 px-2 rounded-full w-full md:w-[500px] mx-auto fixed top-0 my-3 inset-x-0  
z-50 bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">

    <nav class="flex flex-row gap-x-5 opacity-80 text-black">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyects">Proyectos</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>