<div class="container mx-auto ">
    <div class="flex flex-col md:flex-row  items-center">
      <div class="">
        <img class="w-auto max-h-96 mt-14 rounded-lg " src="/projects/profile.webp" alt="">
      </div>
      <div class="flex p-10">
        <div class="mb-auto mt-auto max-w-lg ">
          <h1 class="text-3xl uppercase">Nicolas Alejandro Angel Robles</h1>
          <p class="font-semibold mb-5">Computer Engineer</p>
          <p class=" text-pretty ">Passionate and highly motivated web developer with a solid technical background and endless creativity. My focus is on creating innovative and visually appealing digital solutions.</p>
          <p class=" text-pretty text-yellow-100/90">I am an enthusiastic collaborator, committed to effective communication and building successful team solutions. Ready to face new challenges, I am excited to contribute my experience and passion to the world of web development.</p>
        </div>
      </div>
    </div>
  </div>